<div class="items">
  {{#each this.model as |items|}}
  <div class="card" style="width: 18rem;">
    <img src={{items.src}} class="card-img-top" alt={{items.name}}>
    <div class="card-body">
      <h5 class="card-title">{{items.name}}</h5>
      <p class="card-text">{{items.price}} €</p>
      <button class="btn btn-light"> Add to cart </button>
    </div>
  </div>
  {{/each}}
</div>

{{#link-to "checkout"}}
<button type="submit" class="btn btn-success">Checkout</button>
{{/link-to}}